<p>
row works!
</p>

<!-- <tr	class="data-table-row"
     [title]="getTooltip()"
     [style.background-color]="dataTable.getRowColor(item, index, getThisElement())"
     [class.row-odd]="index % 2 === 0"
     [class.row-even]="index % 2 === 1"
     [class.selected]="selected"
     [class.rowSelected]="rowSelected"
     [class.clickable]="dataTable.selectOnRowClick"
     (dblclick)="dataTable.rowDoubleClicked(getThisElement(), $event)"
     (click)="dataTable.rowClicked(getThisElement(), $event)">
  <td [hide]="!dataTable.isExpandable"  class="row-expand-button">
    <span (click)="expand();">
      <span *ngIf="dataTable.iconExpand" [ngTemplateOutlet]="dataTable.iconExpand" [ngTemplateOutletContext]="{expanded: expanded}">
      </span>
      <span *ngIf="!dataTable.iconExpand">
        <span class="expandColumn circle" *ngIf="!expanded">
        <i class="fa fa-plus"></i>
        </span>
        <span class="expandColumn circle" *ngIf="expanded">
          <i class="fa fa-minus"></i>
        </span>
      </span>
    </span>
  </td>
  <td [hide]="!dataTable.indexColumnVisible" class="index-column" [textContent]="displayIndex"></td>
  <td [hide]="!dataTable.selectColumnVisible" class="select-column">
    <div class="md-checkbox">
      <input id="index-clumn{{displayIndex}}" type="checkbox" [(ngModel)]="selected"/>
      <label for="index-clumn{{displayIndex}}"></label>
    </div>
  </td>
  <td *ngFor="let column of dataTable.columns" [hide]="dataTable.columnVisibility(column)" [ngClass]="column.styleClassObject" class="data-column"
      [style.background-color]="column.getCellColor(getThisElement, index)">
    <div *ngIf="!column.cellTemplate" [textContent]="item[column.property]"></div>
    <div *ngIf="column.cellTemplate" [ngTemplateOutlet]="column.cellTemplate" [ngTemplateOutletContext]="{column: column, row: getThisElement, item: item}"></div>
  </td>
</tr>
<tr *ngIf="dataTable.expandableRows" [hide]="!expanded" class="row-expansion">
  <td [attr.colspan]="dataTable.columnCount" *ngIf="!dataTable.expandTemplate" class="collapse-td-table">
    <table class="collapse-table-size">
      <tbody *ngFor="let column of dataTable.columns" class="collapse-table-body">
        <th [hide]="!dataTable.columnVisibility(column)" class="collapse-th-size">
          {{column.header}}
        </th>
        <td [hide]="!dataTable.columnVisibility(column)" class="collapse-td-size">
          <div *ngIf="!column.cellTemplate" [textContent]="item[column.property]"></div>
          <div *ngIf="column.cellTemplate" [ngTemplateOutlet]="column.cellTemplate" [ngTemplateOutletContext]="{column: column, row: getThisElement, item: item}"></div>
        </td>
      </tbody>
    </table>
  </td>
  <td [attr.colspan]="dataTable.columnCount" *ngIf="dataTable.expandTemplate">
    <div [ngTemplateOutlet]="dataTable.expandTemplate" [ngTemplateOutletContext]="{row: getThisElement, itemExpand: itemExpand}"></div>
  </td>
</tr> -->
