<!-- <div class="container container-fluid">
  <br><br>
  <div>

      <data-table [indexColumn]="true"
              [selectColumn]="true"
              [items]="items"
              [totalPages]="totalPages"
              [size]="size"
              [indexColumnHeader]="'#'"
              [multiExpandableRows]="false"
              [pagination]="true"
              (reload)="reloadItems($event)"
              [expandableRows]="true"
              (rowClick)="rowClick($event)"
              (rowDoubleClick)="rowDoubleClick($event)"
              [rowTooltip]="rowTooltip">
    <ng-template #iconExpand let-expanded="expanded">
      <span class="fa fa-lg fa-plus-circle text-info" *ngIf="!expanded"></span>
      <span class="fa fa-lg fa-minus-circle text-warning" *ngIf="expanded"></span>
    </ng-template>
    <ng-template #dataTableExpand let-itemExpand="itemExpand">
      <p class="text-info" *ngIf="itemExpand.NPI != null"><b>NPI :</b>{{itemExpand.NPI}}</p>
      <p class="text-danger" *ngIf="itemExpand.ProviderName != null"><b>Provider Name :</b>{{itemExpand.ProviderName}}</p>
      <p class="text-warning" *ngIf="itemExpand.Status != null"><b>Status :</b> {{itemExpand.Status}}</p>
      <p class="text-info" *ngIf="itemExpand.AssignedTo != null"><b>Assigned to :</b> {{itemExpand.AssignedTo}}</p>
      <p *ngIf="itemExpand.ApplicationType != null"><b>Application type :</b> {{itemExpand.ApplicationType}}</p>
      <p *ngIf="itemExpand.ProviderType != null"><b>Provider Type :</b> {{itemExpand.ProviderType}}</p>
    </ng-template>
    <data-table-column
      [property]="'CaseNumber'"
      [header]="'Number'"
      [sortable]="true"
      [visible]="true"
      [cellColors]="cellColor">
    </data-table-column>
    <data-table-column
      [property]="'NPI'"
      [header]="'NPI'"
      [breakpoints]="'xxs,xs'"
      [sortable]="true">
      <ng-template #dataTableCell let-item="item">
        <button class="btn btn-outline-info btn-sm" (click)="buttonalert(item.NPI)">{{item.NPI}}</button>
      </ng-template>
    </data-table-column>
    <data-table-column
      [property]="'ProviderName'"
      [header]="'Provider Name'"
      [breakpoints]="'xxs,xs,sm'"
      [sortable]="true"
      [visible]="true">
    </data-table-column>
    <data-table-column
      [property]="'Status'"
      [header]="'Status'"
      [breakpoints]="'xxs,xs,sm,md'"
      [sortable]="true">
      <ng-template #dataTableHeader let-item="item">
        <span>Active</span>
      </ng-template>
      <ng-template #dataTableHeaderExtra>
        <i class="fa fa-filter" style="color: #c16e23" aria-hidden="true"></i>
      </ng-template>
      <ng-template #dataTableCell let-item="item">
        <i class="fa fa-microphone" aria-hidden="true"></i>
      </ng-template>
    </data-table-column>
    <data-table-column
      [property]="'AssignedTo'"
      [header]="'Assigned to'"
      [sortable]="true"
      [resizable]="true"
      [visible]="false">
    </data-table-column>
    <data-table-column
      [property]="'ApplicationType'"
      [header]="'Application Type'"
      [breakpoints]="'xxs,xs,sm,md'"
      [sortable]="true"
      [visible]="false">
    </data-table-column>
    <data-table-column
      [property]="'ProviderType'"
      [header]="'Provider Type'"
      [breakpoints]="'xxs,xs,sm,md,lgs'"
      [sortable]="true"
      [visible]="false">
    </data-table-column>
  </data-table>
  </div>

  <hr/>
  <div>
    <pre class="html hljs xml">
      <code class="language-html" mwlHighlightJs [source]="source" language="html"></code>
    </pre>
  </div>
  <hr/>
  <pre class="hljs coffeescript">
    <code mwlHighlightJs [source]="sourceTypescript" language="typescript"></code>
  </pre>
</div>
 -->
